Canonicalization

Compatibility with [C#'s Uri class](https://msdn.microsoft.com/en-us/library/system.uri(v=vs.110).aspx), which performs the following steps:

* Converts the URI scheme to lowercase.
* Converts the host name to lowercase.
* If the host name is an IPv6 address, the canonical IPv6 address is used. ScopeId and other optional IPv6 data are removed.
* Removes default and empty port numbers.
* Canonicalizes the path for hierarchical URIs by compacting sequences such as /./, /../, //, including escaped representations. Note that there are some schemes for which escaped representations are not compacted. 
* For hierarchical URIs, if the host is not terminated with a forward slash (/), one is added.
* By default, any reserved characters in the URI are escaped in accordance with RFC 2396. This behavior changes if International Resource Identifiers or International Domain Name parsing is enabled in which case reserved characters in the URI are escaped in accordance with RFC 3986 and RFC 3987.

...the most important being replacing multiple forward slashes with a single one.

Motivated by https://github.com/xp-forge/web/issues/32